<footer class="pt-4">
  <div class="container-fluid main-footer fs-14">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 introduction footer-column">
        <img alt="PACW" class="footer-site-logo" lazied="" src="../../../assets/icons/FPT.png">
        <label><span class="green" style="color: #117b34">Practice </span><span class="yellow" style="color: #ef9834"> coding </span><span class="blue" style="color: #1638a0"> Assignment </span></label>
        <p class="slogan mg-b-10">
          Practice Coding Assignment Website platform provides learners and instructors with a variety of educational
          technologies following the social constructive learning.
        </p>
        <p class="fs-14 mg-b-0" style="color: red;">*Recommendation: Best use with Chrome browser</p>
      </div>
      <div class="col-12 col-md-4 col-lg-2 offset-lg-1 about footer-column mg-b-0">
        <h3 class="site-footer-title fs-16 mg-b-16">Information</h3>
        <ul class="footer-menu none-list fs-14">
          <li><a href="/en/home" title="">About</a></li>
          <li><a href="/en/about-us" title="">Terms of Use</a></li>
          <li><a href="/en/terms" title="">Help Center</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-5 footer-column">
        <h3 class="site-footer-title fs-16 mg-b-16">
          Address
        </h3>
        <ul class="contact-menu none-list fs-14">
          <li>
            <i class="las la-map-marker fs-22"></i>
            <span class="content">Km29 Đường Cao Tốc 08, Thạch Hoà, Thạch Thất, Hà Nội</span>
          </li>
          <li>
            <i class="las la-envelope fs-22"></i>
            <p class="content mg-0"><a href="mailto:support@edunext.vn">Support@PCAW.vn</a></p>
          </li>
          <li>
            <i class="las la-phone fs-22"></i>
            <p class="content mg-0"><a href="tel:+84812786332">+84 812 786 332</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
