<mat-toolbar class="mat-tool">
  <mat-toolbar-row>
    <img alt="PACW" class="footer-site-logo" lazied="" src="../../../assets/icons/FPT.png">
    <label><span class="green" style="color: #117b34">Practice  </span><span class="yellow"
                                                                                    style="color: #ef9834"> Coding </span><span
      class="blue" style="color: #1638a0"> Assignment</span></label>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container (backdropClick)="isRole" class="sidenav-container">
<!--  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
  <mat-sidenav #drawer (closed)="isRole"  [mode]="'side'"
               [opened]="isRole" class="sidenav" fixedInViewport="false">
    <div class="content">
      <mat-toolbar style="background-color: white; border-bottom: 2px #117b34;">
        <img src="../assets/icons/Image 2382.png"
             alt="" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}">
        <span style="margin-left: 20px; font-size: 20px; font-weight: 600;">{{userName}}</span>
      </mat-toolbar>
    </div>
    <mat-nav-list *ngFor="let user of sideBar; index as i;">
      <mat-list-item routerLink="{{user.linkRouter}}" [routerLinkActive]="['is-active']" style="cursor: pointer">
        <div class="flex-content">
          <mat-icon svgIcon="{{user.svg?user.svg:null}}">{{user.icon}}</mat-icon>
          <span mat-list-item class="text-content" >
            {{user.routeName}}</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
